<ion-nav-bar>
  <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
   <!-- Toggle right side menu -->
   <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view title="Movies">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list class="movie-list">
            <ion-item class="item-thumbnail-left" ui-sref="matrix">
                <img src="img/ZlihFaUHTwGaXof3pkKm_matrix.png">
                <h2>Matrix</h2>
                <p>10/10</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/rg4QZYidSMCtJUYJnG19_Gladiator.jpg">
                <h2>Gladiator</h2>
                <p>9 / 10</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/SQF853uxQMCQZvHxdshL_the-ring-samara.png">
                <h2>The Ring</h2>
                <p>6 / 10</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/pgAAoq0rT7GC2k8wYGMg_f9m50ef7wllwnzwtiilb.jpg">
                <h2>Harry Potter</h2>
                <p>8.5 / 10</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
