<ion-view title="Matrix">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/JlQYfF7vR7ioj4Fm1gdn_matrix.png" width="100%" height="auto">
        </div>
        <div class="button-bar">
            <button id="matrix-button7" style="font-size:-4px;" class="button button-positive  button-block">Info</button>
            <a ui-sref="matrix2" id="matrix-button8" class="button button-positive  button-block button-outline">Video</a>
            <a ui-sref="matrix3" id="matrix-button9" style="font-size:-2px;" class="button button-positive  button-block button-outline">Comment</a>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus et lorem id felis nonummy placerat.
                <strong>Quis autem vel</strong>eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas 
                nulla pariatur? Lorem ipsum dolor sit amet.</p>

            <hr>

            <p class="text-center font-large">Rating <strong>9/10</strong></p>
        </div>
    </ion-content>
</ion-view>