<ion-view title="Matrix">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/WYGx8PQL2vkcNG8oG5Gw_matrix.png" width="100%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="matrix" id="matrix3-button13" style="font-size:-4px;" class="button button-positive  button-block button-outline">Info</a>
            <a ui-sref="matrix2" id="matrix3-button14" class="button button-positive  button-block button-outline">Video</a>
            <button id="matrix3-button15" class="button button-positive  button-block">Comment</button>
        </div>
        <ion-list>
            <ion-item>
                <div class="clearfix"><span class="pull-left font-bold">Felix</span> <span class="pull-right">(21.3.2013)</span></div>
                <div>Really awesome</div>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 45px;"></div>
        <form class="list">
            <h3>Add comment</h3>
            <label class="item item-input">
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input">
                <textarea rows="5" placeholder="Comment"></textarea>
            </label>
            <button id="matrix3-button16" class="button button-balanced  icon-left ion-android-send">Send</button>
        </form>
    </ion-content>
</ion-view>