<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="profile clearfix">
            <div class="pull-left">
                <img src="img/13xalgvxRJW5xap2pNNB_8b75dc48c9.gif" width="70%" height="50%">
            </div>
            <div class="pull-right">
                <h1>John Doe</h1>
                <h2>john@doe.tld</h2>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div>
                    <p>Integer imperdiet lectus quis justo. Pellentesque sapien. Mauris elementum mauris vitae tortor. Fusce tellus. Integer tempor. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Quisque tincidunt scelerisque
                        libero. Curabitur sagittis hendrerit ante. Fusce nibh. Quisque tincidunt scelerisque libero. Nullam sit amet magna in magna gravida vehicula. Vivamus luctus egestas leo. Duis pulvinar. Proin in tellus sit amet nibh dignissim sagittis.
                        Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede.</p>
                </div>
                <div class="spacer" style="width: 253px; height: 64px;"></div>
                <form class="list">
                    <ion-toggle toggle-class="" ng-checked="true">Notifications</ion-toggle>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>